$standard-lineheight: 3.5rem;
$nav-item-size: 1.6rem;
$backgroundColor: (
    "main": #2b2b2b,
    "sub": blue,
    "btn": #6372f5,
    "footerColor": #ecd9bd,
);

* {
    box-sizing: border-box;
}

body {
    background-color: #f8edd6;
    padding: 0;
    margin: 0;
}

/* Header  */

header {
    /* height: 100vh; */
    width: 100%;
    margin: auto;
    vertical-align: middle;

    .main-nav {
        position: fixed;
        top: 0;
        left: 0;
        background-color: transparent;
        display: grid;
        grid-template-columns: 1fr;
        z-index: 2;
        width: 100%;
        text-align: center;
        height: $standard-lineheight;
        line-height: $standard-lineheight;

        #main-nav__link__container {
            height: $standard-lineheight;
        }
    }
}

.main-nav__link {
    display: none;
    position: relative;
    color: white;
    font-size: $nav-item-size;
    margin: 0 1rem;
    text-decoration: none;
}

.main-nav__logo__container {
    position: absolute;
    left: 0;
    margin: 0 1rem;
    text-decoration: none;
    height: auto;
    width: auto;
}

.main-nav__logo,
#main-nav__responsive__toggle {
    display: none;
    font-size: $nav-item-size;
    color: white;
    position: absolute;
    left: 4rem;
    text-decoration: none;
    line-height: $standard-lineheight;
}

#main-nav__responsive__toggle {
    display: inline-block;
}

.main-nav__cart {
    font-size: $nav-item-size;
    color: white;
    position: absolute;
    right: 4rem;
}

.main-nav__link:hover,
.main-nav__link:active,
#main-nav__responsive__toggle:hover,
#main-nav__responsive__toggle:active {
    cursor: pointer;
    color: #eeeeee;
}

/* Responsive Nav  */

#responsive-nav {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    background-color: #323233;
    animation-name: displayHeight;
    animation-duration: 0.8s;
    text-align: center;
}

.responsive-nav__input {
    height: 3vh;
    width: 90%;
    margin: 3rem 0 0 0;
    border: none;
    padding: 1.3em;
    border-radius: 7px;
}

.responsive-nav__bottomLine {
    border-color: gray;
    border-width: 0.5px;
}

.responsive-nav__link {
    display: block;
    position: relative;
    color: #d6d6d6;
    font-size: 1.1rem;
    text-align: start;
    margin: 1rem 0 1rem 3rem;
    text-decoration: none;
}

.responsive-nav__link__bottomLine {
    border-color: gray;
    border-width: 0.5px;
    width: 80%;
}

@keyframes displayHeight {
    0% {
        height: 0;
    }

    100% {
        height: 100vh;
    }
}

/* Banner  */

.banner-container {
    position: relative;
    height: 40vh;
    width: 100%;
    background-image: linear-gradient(#ffbfc459, rgba(163, 143, 116, 0.705)),
        url("https://images.pexels.com/photos/1028704/pexels-photo-1028704.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: bottom left;
    background-size: stretch;
}

.banner-contents {
    position: absolute;
    left: 8%;
    top: 25%;
    width: 100%;
    text-align: left;
    width: auto;

    span {
        display: block;
    }

    h1,
    h3 {
        text-transform: capitalize;
        font-size: 7rem;
        color: white;
    }

    #left {
        animation: inFromLeft 2s ease;
    }

    #right {
        animation: inFromRight 2s ease;
    }

    @keyframes inFromLeft {
        0% {
            transform: translateX(-20px);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    @keyframes inFromRight {
        0% {
            transform: translateX(20px);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    #bannerTitle {
        margin: 0;
    }

    #bannerSubTitle {
        color: white;
        font-size: 1.8rem;
        margin: 1rem;
    }

    #btn {
        margin-top: 1rem;
        padding: 1.4rem 2.5rem;
        background-color: map-get($map: $backgroundColor, $key: btn);
        color: white;
        border: none;
        border-radius: 15px;
        font-size: 1.3rem;
        transition: background-color 0.3s ease;

        &:hover {
            cursor: pointer;
            background-color: lighten(
                map-get($map: $backgroundColor, $key: btn),
                5%
            );
        }

        &:focus {
            background-color: map-get($map: $backgroundColor, $key: btn);
        }
    }
}

/* Body  */

.info-container {
    text-align: center;
    height: 60vh;
    padding: 0 7rem;
    display: grid;
    align-items: center;
    justify-items: center;

    .info-container__item {
        width: 80%;
    }
}

/* Footer */

.footer-container {
    background-color: map-get($map: $backgroundColor, $key: main);
    padding: 3rem 1.5rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    .footer-container__row {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        grid-gap: 1rem;
        color: map-get($map: $backgroundColor, $key: footerColor);
        .footer-social__icon__link {
            .footer-social__icon {
                font-size: 3rem;
            }
        }
    }


@media (min-width: 50rem) {

    .main-nav__link {
        display: inline-block;
        margin: 0 2rem;
    }

    .main-nav__logo {
        display: inline-block;
    }

    #main-nav__responsive__toggle {
        display: none;
    }

    .banner-container__title {
        font-size: 5rem;
    }

    .banner-container {
        height: 60vh;
    }

    @keyframes bounce {
        0% {
            bottom: 4em;
        }

        50% {
            bottom: 4.8em;
        }

        100% {
            bottom: 4em;
        }
    }

    .down-arrow {
        width: auto;
        height: 4em;
    }

    .reversedRow {
        flex-direction: row-reverse;
    }

    .info-container__row {
        padding: 5rem 0;
    }

    .info-container__column {
        padding: 2rem;
        padding: 2rem;
        width: 50%;
    }

    .info-container__column__text,
    .footer-container__column__text {
        font-size: 1.2rem;
    }

    .footer-container__column {
        width: 50%;
        padding: 0 5em;
    }

    .footer-container__column__title {
        font-size: 2rem;
    }
}

@media (min-width: 80rem) {
    header {
        height: 100vh;
    }
    .main-nav__link {
        margin: 0 3rem;
    }

    .banner-container__title {
        font-size: 6rem;
    }

    .banner-container {
        height: 100%;
    }

    .info-container__column__title {
        font-size: 3rem;
    }

    .info-container__column__text,
    .footer-container__column__text {
        font-size: 1.5rem;
    }
}