<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Fresh Start Home Improvement" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Baked and Bubbly Contact</title>
        <link rel="stylesheet" href="/css/index.css" />
    </head>
    <body>
        <nav class="main-nav">
            <i id="main-nav__responsive__toggle" class="fas fa-bars"></i>
            <a class="main-nav__logo" href="/"
                ><i class="fas fa-fan"> </i> Baked and Bubbly
                <i class="fas fa-fan"></i
            ></a>
            <div id="main-nav__link__container">
                <a class="main-nav__link" href="/">Home</a>
                <a class="main-nav__link" href="/products">Products</a>
                <a class="main-nav__link" href="/contact">Contact</a>
            </div>

            <a class="main-nav__cart" aria-label="Navigating Link" href="#"
                ><i class="fas fa-shopping-bag"></i
            ></a>
        </nav>
        <main id="padded-main">
            <div class="two-grid-container">
                <h2 class="contact-grid-container__title">Contact Us</h2>
                <div class="contact-column">
                    <div class="contact-column__link__container">
                        <a class="contact-column__link">Feedback</a>
                        <a class="contact-column__link">General Inquiry</a>
                    </div>
                </div>
                <div class="contact-column">
                    <div class="input-container">
                        <label class="input-container__label" for="fname"
                            >First Name</label
                        >
                        <input
                            class="input-container__field"
                            placeholder="First Name"
                            id="fname"
                            type="text"
                        />
                    </div>
                    <div class="input-container">
                        <label class="input-container__label" for="lname"
                            >Last Name</label
                        >
                        <input
                            class="input-container__field"
                            placeholder="Last Name"
                            id="lname"
                            type="text"
                        />
                    </div>
                    <div class="input-container">
                        <label class="input-container__label" for="email"
                            >Email</label
                        >
                        <input
                            class="input-container__field"
                            placeholder="Email Address"
                            id="email"
                            type="email"
                        />
                    </div>
                    <div class="input-container">
                        <label class="input-container__label" for="number"
                            >Phone #</label
                        >
                        <input
                            class="input-container__field"
                            placeholder="(555) 555 5555"
                            id="number"
                            type="number"
                        />
                    </div>
                    <div class="input-container">
                        <label class="input-container__label" for="comment"
                            >What's on your mind?</label
                        >
                        <textarea
                            class="input-container__field"
                            placeholder="Comments"
                            id="comment"
                            type="text"
                        ></textarea>
                    </div>
                    <div class="input-container">
                        <input
                            class="input-container__field"
                            id="submit"
                            type="submit"
                            value="Submit"
                        />
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer-container">
            <div id="footer-logo-img-container">
                <img
                    src="https://img.pngio.com/luxurious-badge-logo-design-free-vintage-stamp-logo-maker-badge-design-png-621_581.png"
                    alt="logo"
                    id="footer-logo-img"
                />
            </div>
            <div class="footer-social__icon__link__container">
                <a class="footer-social__icon__link"
                    ><i class="footer-social__icon fab fa-youtube"></i
                ></a>
                <a class="footer-social__icon__link"
                    ><i class="footer-social__icon fab fa-youtube"></i
                ></a>
                <a class="footer-social__icon__link"
                    ><i class="footer-social__icon fab fa-youtube"></i
                ></a>
            </div>
            <ul class="footer-link-list">
                <li class="footer-link">
                    <a class="link" href="#">About</a>
                </li>
                <li class="footer-link">
                    <a class="link" href="#">Support</a>
                </li>
                <li class="footer-link">
                    <a class="link" href="#">Blog</a>
                </li>
                <li class="footer-link four">
                    <a class="link" href="#">Terms of Use</a>
                </li>
                <li class="footer-link">
                    <a class="link" href="#">Blog</a>
                </li>

                <li class="footer-link five">
                    <a class="link" href="#">Privacy Policy</a>
                </li>
            </ul>
            <p id="copyright" class="footer-link">© 2020 joshuaeup</p>
        </footer>
        <script src="/js/shared.js"></script>
        <script
            src="https://kit.fontawesome.com/3cf526719d.js"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
