.banner-container {
  position: relative;
  height: 40vh;
  width: 100%;
  background-image: linear-gradient(to right, #ffbfc4c0, rgba(163, 143, 116, 0.185)), url("https://images.pexels.com/photos/1028704/pexels-photo-1028704.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: bottom left;
  background-size: stretch;
}

.banner-contents {
  position: absolute;
  left: 8%;
  top: 25%;
  width: 100%;
  text-align: left;
  width: auto;
}
.banner-contents span {
  display: block;
}
.banner-contents h1,
.banner-contents h3 {
  text-transform: capitalize;
  font-size: 7rem;
  color: white;
}
.banner-contents #left {
  animation: inFromLeft 2s ease;
}
.banner-contents #right {
  animation: inFromRight 2s ease;
}
@keyframes inFromLeft {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes inFromRight {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.banner-contents #bannerTitle {
  margin: 0;
}
.banner-contents #bannerSubTitle {
  color: white;
  font-size: 1.8rem;
  margin: 1rem 1rem 1rem 0;
}
.banner-contents #btn {
  margin-top: 1rem;
  padding: 1.4rem 2.5rem;
  background-color: #fda798;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
}
.banner-contents #btn:hover {
  cursor: pointer;
  background-color: #fdbcb1;
}
.banner-contents #btn:focus {
  background-color: #fda798;
}

.products-banner-container {
  position: relative;
  height: 50vh;
  width: 100%;
  background-image: linear-gradient(#ffbfc459, rgba(163, 143, 116, 0.705)), url("https://images.pexels.com/photos/3983708/pexels-photo-3983708.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-size: stretch;
}

.banner-contents {
  position: absolute;
  left: 8%;
  top: 25%;
  width: 100%;
  text-align: left;
  width: auto;
}
.banner-contents span {
  display: block;
}
.banner-contents h1,
.banner-contents h3 {
  text-transform: capitalize;
  font-size: 7rem;
  color: white;
}
.banner-contents #left {
  animation: inFromLeft 2s ease;
}
.banner-contents #right {
  animation: inFromRight 2s ease;
}
@keyframes inFromLeft {
  0% {
    transform: translateX(-20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes inFromRight {
  0% {
    transform: translateX(20px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.banner-contents #bannerTitle {
  margin: 0;
}
.banner-contents #bannerSubTitle {
  color: white;
  font-size: 1.8rem;
  margin: 1rem 1rem 1rem 0;
}
.banner-contents #btn {
  margin-top: 1rem;
  padding: 1.4rem 2.5rem;
  background-color: #fda798;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
}
.banner-contents #btn:hover {
  cursor: pointer;
  background-color: #fdbcb1;
}
.banner-contents #btn:focus {
  background-color: #fda798;
}

/* Footer */
.footer-container {
  font-size: rem;
  padding: 4rem 0;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  grid-column-gap: 1rem;
  color: #ecd9bd;
  background-color: #2b2b2b;
}
.footer-container #footer-logo-img-container #footer-logo-img {
  width: 13rem;
  height: auto;
}
.footer-container .footer-social__icon__link__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  grid-gap: 1rem;
}
.footer-container .footer-social__icon__link__container .footer-social__icon__link .footer-social__icon {
  font-size: 3rem;
}
.footer-container .footer-link-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  list-style: none;
  padding: 0;
}
.footer-container .footer-link-list .footer-link {
  padding-bottom: 1rem;
}
.footer-container .footer-link-list .footer-link .link {
  text-decoration: none;
  color: white;
}
.footer-container #copyright {
  margin: 0;
}

/* Header  */
.header {
  width: 100%;
  margin: auto;
  vertical-align: middle;
}

.main-nav {
  font-size: 1.3rem;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f8edd6;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 2;
  width: 100%;
  text-align: center;
  height: 3rem;
  line-height: 3rem;
}
.main-nav #main-nav__link__container {
  height: 3rem;
}

.main-nav__link {
  display: none;
  position: relative;
  color: #45271f;
  margin: 0 1rem;
  text-decoration: none;
}

.main-nav__logo__container {
  position: absolute;
  left: 0;
  margin: 0 1rem;
  text-decoration: none;
  height: auto;
  width: auto;
}

.main-nav__logo,
#main-nav__responsive__toggle {
  display: none;
  color: #45271f;
  position: absolute;
  left: 4rem;
  text-decoration: none;
  line-height: 3rem;
}

#main-nav__responsive__toggle {
  display: inline-block;
}

.main-nav__cart {
  color: #45271f;
  position: absolute;
  right: 4rem;
}

.main-nav__link:hover,
.main-nav__link:active,
#main-nav__responsive__toggle:hover,
#main-nav__responsive__toggle:active {
  cursor: pointer;
  color: #45271f;
}

/* Responsive Nav  */
#responsive-nav {
  z-index: 1;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-color: #323233;
  animation-name: displayHeight;
  animation-duration: 0.8s;
  text-align: center;
}

.responsive-nav__input {
  height: 3vh;
  width: 90%;
  margin: 3rem 0 0 0;
  border: none;
  padding: 1.3em;
  border-radius: 7px;
}

.responsive-nav__bottomLine {
  border-color: gray;
  border-width: 0.5px;
}

.responsive-nav__link {
  display: block;
  position: relative;
  color: #d6d6d6;
  font-size: 1.1rem;
  text-align: start;
  margin: 1rem 0 1rem 3rem;
  text-decoration: none;
}

.responsive-nav__link__bottomLine {
  border-color: gray;
  border-width: 0.5px;
  width: 80%;
}

@keyframes displayHeight {
  0% {
    height: 0;
  }
  100% {
    height: 100vh;
  }
}
.two-grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 2rem;
}
.two-grid-container .contact-grid-container__title {
  text-align: left;
  font-size: 3rem;
}

.contact-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}
.contact-column .contact-column__link__container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
}
.contact-column .contact-column__link__container :nth-child(1) {
  background-color: #45271f;
}
.contact-column .contact-column__link__container :nth-child(2) {
  color: #45271f;
}
.contact-column .contact-column__link {
  color: white;
  padding: 0.7rem 1rem;
  border-radius: 5px;
}
.contact-column .input-container {
  display: block;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-columns: 5px;
}
.contact-column .input-container .input-container__label {
  margin: 0.5rem 0;
}
.contact-column .input-container .input-container__field {
  padding: 0.7rem 1rem;
  border: solid 1px #ced4da;
  border-radius: 5px;
}
.contact-column .input-container #submit {
  background-color: #45271f;
  color: white;
}

.five-grid-container,
.info-grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#six-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

#padded-main {
  padding: 0 7rem 7rem 7rem;
}
#padded-main .underline {
  background-color: #45271f;
  height: 0.2rem;
  width: 5%;
  margin-bottom: 2rem;
}
#padded-main #six-grid-container {
  grid-gap: 4rem;
}
#padded-main #six-grid-container .product-grid-container__column {
  display: grid;
  grid-template-columns: 1fr;
}
#padded-main #six-grid-container .product-grid-container__column .product-grid-item .star-icon,
#padded-main #six-grid-container .product-grid-container__column .product-grid-item-img .star-icon {
  color: gold;
}
#padded-main #six-grid-container .product-grid-container__column .product-grid-item-img .grid-img {
  width: 100%;
  height: auto;
}

.five-grid-container,
.info-grid-container {
  position: relative;
  background-color: #f8edd6;
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 5rem 7rem;
  height: auto;
}
.five-grid-container #view-more-btn,
.info-grid-container #view-more-btn {
  grid-column: 1/6;
}

.home-grid-container__title__container,
.contact-grid-container__title,
.home-grid-container__title,
.social-grid-container__title {
  grid-column: 1/6;
}

.home-grid-container__title,
.contact-grid-container__title {
  width: 100%;
  color: #45271f;
  margin-bottom: 0;
  text-align: center;
}

.home-grid-container__subTitle {
  font-size: 1.3rem;
}

.home-grid-container__column,
.review-grid-container__column {
  width: 100%;
}

.grid-item {
  width: 100%;
}

.home-grid-container__column__title,
.social-grid-container__title {
  text-transform: uppercase;
  text-align: center;
  color: #45271f;
  font-size: 1.5rem;
  margin-top: 1.4rem;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.review-grid-text {
  text-align: center;
  padding: 0 1.5rem;
  color: #303030;
  font-size: 1rem;
}

.info-grid-container {
  grid-template-columns: repeat(3, 1fr);
  background-color: white;
  justify-items: center;
  padding: 5rem 15rem;
}
.info-grid-container .direction-icon {
  font-size: 3.5rem;
  color: #fc8c79;
}
.info-grid-container .info-container__column {
  width: 60%;
}

.info-container__title,
.social-grid-container__title {
  width: 100%;
  color: #45271f;
  margin-bottom: 0;
  font-size: 2rem;
  text-align: center;
  grid-column: 1/6;
}

.review-grid-container {
  position: relative;
  background-color: #f8edd6;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding: 5rem 0;
  height: auto;
}
.review-grid-container .review-grid-photo {
  margin: 1rem 0;
  width: 20%;
  border-radius: 100%;
}

#review-icon-left,
#review-icon-right,
#home-icon-left,
#home-icon-right {
  color: #fc8c79;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5rem;
}

#review-icon-left {
  left: 15rem;
}

#review-icon-right {
  right: 15rem;
}

#home-icon-left {
  left: 5rem;
}

#home-icon-right {
  right: 5rem;
}

.social-grid-container {
  position: relative;
  background-color: white;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  justify-items: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
  height: auto;
}

.social-grid-container__column {
  width: auto;
}

.social-grid-photo {
  width: 100%;
}

.social-grid-container__title {
  margin-bottom: 3rem;
  grid-column: 1/11;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f8edd6;
  padding: 0;
  margin: 0;
  margin-top: 3rem;
}

@media (min-width: 50rem) {
  .main-nav__link {
    display: inline-block;
    margin: 0 2rem;
  }

  .main-nav__logo {
    display: inline-block;
  }

  #main-nav__responsive__toggle {
    display: none;
  }

  .banner-container__title {
    font-size: 5rem;
  }

  .banner-container {
    height: 60vh;
  }

  @keyframes bounce {
    0% {
      bottom: 4em;
    }
    50% {
      bottom: 4.8em;
    }
    100% {
      bottom: 4em;
    }
  }
  .down-arrow {
    width: auto;
    height: 4em;
  }

  .reversedRow {
    flex-direction: row-reverse;
  }

  .info-container__row {
    padding: 5rem 0;
  }

  .info-container__column {
    padding: 2rem;
    padding: 2rem;
    width: 50%;
  }

  .info-container__column__text,
.footer-container__column__text {
    font-size: 1.2rem;
  }

  .footer-container__column {
    width: 50%;
    padding: 0 5em;
  }

  .footer-container__column__title {
    font-size: 2rem;
  }
}
@media (min-width: 80rem) {
  .header {
    height: 100vh;
  }

  .main-nav__link {
    margin: 0 3rem;
  }

  .banner-container__title {
    font-size: 6rem;
  }

  .banner-container {
    height: 100%;
  }

  .info-container__column__title {
    font-size: 3rem;
  }

  .info-container__column__text,
.footer-container__column__text {
    font-size: 1.5rem;
  }
}
.info-container {
  text-align: center;
  height: 60vh;
  padding: 0 7rem;
  display: grid;
  align-items: center;
  justify-items: center;
}

.info-container__item {
  width: 80%;
}

/* Media Responsive */
@media (min-width: 50rem) {
  .home-grid-container__column {
    width: 100%;
  }
}
@media (min-width: 80rem) {
  .home-grid-container__column {
    width: 80%;
  }

  .review-grid-container__column {
    width: 60%;
  }

  .home-grid-container__title {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
  }

  .review-grid-text {
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=index.css.map */
