/* Products Banner */

.products-banner__container {
    position: relative;
    height: 40vh;
    width: 100%;
    background-image: url("https://images.pexels.com/photos/1070880/pexels-photo-1070880.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-size: cover;
}

.products-banner-title__container {
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 30%;
    text-align: center;
}

.products-banner-title {
    font-weight: bold;
    font-size: 3rem;
    color: white;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}



/* Grid  */

.grid-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.grid-container__column {
    height: auto;
    margin: 1rem 0;
}

.grid-container__column a {
    text-decoration: none;
    color: black;
}

.grid-container__column__body__img {
    height: auto;
    width: 100%;
}


.grid-container__column__img {
    object-fit: contain;
    width: 100%;
    height: auto;
}

.grid-container__column__body {
    height: auto;
    width: 100%;
    padding: 1rem;
}


.grid-container__column__title {
    margin: .5rem 0;
    color: rgb(46, 46, 46);
    font-size: 1.2rem;
}


.grid-container__column__price {
    margin: .5rem 0;
    color: #f55653;
    font-size: 1.5rem;
}

/* Responsive Media */

@media (min-width: 50rem) {
    .products-banner-title__container {
        margin-top: 10%;
    }
    
    .products-banner-title {
        font-size: 4rem;
    }

    .grid-container__column {
        width: 40%;
    }

    .grid-container__column__bg {
        height: 70%;
    }

    .grid-container__column__titleLeft {
        width: auto;
        float: left;
    }
    
    .grid-container__column__titleRight {
        width: auto;
        float: right;
    }

    .grid-container__column__img {
        width: 100%;
    }
}


@media (min-width: 80rem) {
    .grid-container__column {
        margin: 0 1rem;
        width: 20%;
    }

    .grid-container__column__bg {
        height: 80%;
    }

    .grid-container__column__body {
        padding: 0;
    }
}


